.alignas{color:#69150a;}
.alignof{color:#3dabd8;}
.and{color:#f31f4c;}
.and_eq{color:#b36508;}
.asm{color:#cbd60d;}
.auto{color:#07773c;}
.bitand{color:#0d0145;}
.bitor{color:#912597;}
.bool{color:#223e39;}
.break{color:#ee3731;}
.case{color:#884001;}
.catch{color:#65fc02;}
.char{color:#56cab1;}
.class{color:#8cfba1;}
.compl{color:#23ea47;}
.const{color:#9e1771;}
.constexpr{color:#b7e11c;}
.const_cast{color:#6f2e22;}
.continue{color:#a9e9bc;}
.decltype{color:#c4be72;}
.default{color:blue;}
.delete{color:blue;}
.do{color:blue;}
.double{color:blue;}
.dynamic_cast{color:blue;}
.else{color:blue;}
.enum{color:blue;}
.explicit{color:blue;}
.export{color:blue;}
.extern{color:blue;}
.false{color:blue;}
.float{color:blue;}
.for{color:blue;}
.friend{color:blue;}
.goto{color:blue;}
.if{color:blue;}
.inline{color:blue;}
.int{color:blue;}
.long{color:blue;}
.mutable{color:blue;}
.namespace{color:blue;}
.new{color:blue;}
.noexcept{color:blue;}
.not{color:blue;}
.not_eq{color:blue;}
.nullptr{color:blue;}
.operator{color:blue;}
.or{color:blue;}
.or_eq{color:blue;}
.private{color:blue;}
.protected{color:blue;}
.public{color:blue;}
.register{color:blue;}
.reinterpret_cast{color:blue;}
.return{color:blue;}
.short{color:blue;}
.signed{color:blue;}
.sizeof{color:blue;}
.static{color:blue;}
.static_assert{color:blue;}
.static_cast{color:blue;}
.struct{color:blue;}
.switch{color:blue;}
.template{color:blue;}
.this{color:blue;}
.thread_local{color:blue;}
.throw{color:blue;}
.true{color:blue;}
.try{color:blue;}
.typedef{color:blue;}
.typeid{color:blue;}
.typename{color:blue;}
.union{color:blue;}
.unsigned{color:blue;}
.using{color:blue;}
.virtual{color:blue;}
.void{color:blue;}
.volatile{color:blue;}
.wchar_t{color:blue;}
.while{color:blue;}
.xor{color:blue;}
.xor_eq{color:blue;}