.alignas{color:blue;}
.alignof{color:blue;}
.and{color:blue;}
.and_eq{color:blue;}
.asm{color:blue;}
.auto{color:blue;}
.bitand{color:blue;}
.bitor{color:blue;}
.bool{color:blue;}
.break{color:blue;}
.case{color:blue;}
.catch{color:blue;}
.char{color:blue;}
.class{color:blue;}
.compl{color:blue;}
.const{color:blue;}
.constexpr{color:blue;}
.const_cast{color:blue;}
.continue{color:blue;}
.decltype{color:blue;}
.default{color:blue;}
.delete{color:blue;}
.do{color:blue;}
.double{color:blue;}
.dynamic_cast{color:blue;}
.else{color:blue;}
.enum{color:blue;}
.explicit{color:blue;}
.export{color:blue;}
.extern{color:blue;}
.false{color:blue;}
.float{color:blue;}
.for{color:blue;}
.friend{color:blue;}
.goto{color:blue;}
.if{color:blue;}
.inline{color:blue;}
.int{color:blue;}
.long{color:blue;}
.mutable{color:blue;}
.namespace{color:blue;}
.new{color:blue;}
.noexcept{color:blue;}
.not{color:blue;}
.not_eq{color:blue;}
.nullptr{color:blue;}
.operator{color:blue;}
.or{color:blue;}
.or_eq{color:blue;}
.private{color:blue;}
.protected{color:blue;}
.public{color:blue;}
.register{color:blue;}
.reinterpret_cast{color:blue;}
.return{color:blue;}
.short{color:blue;}
.signed{color:blue;}
.sizeof{color:blue;}
.static{color:blue;}
.static_assert{color:blue;}
.static_cast{color:blue;}
.struct{color:blue;}
.switch{color:blue;}
.template{color:blue;}
.this{color:blue;}
.thread_local{color:blue;}
.throw{color:blue;}
.true{color:blue;}
.try{color:blue;}
.typedef{color:blue;}
.typeid{color:blue;}
.typename{color:blue;}
.union{color:blue;}
.unsigned{color:blue;}
.using{color:blue;}
.virtual{color:blue;}
.void{color:blue;}
.volatile{color:blue;}
.wchar_t{color:blue;}
.while{color:blue;}
.xor{color:blue;}
.xor_eq{color:blue;}